.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 2%;


}


.left-sidebar{

    flex-basis: 30%;
    position: sticky;
    padding-top: 30px;
    
    align-self: flex-start;
    
    

}
.profile{
    display:flex;
    font-size: 14px;
    
    
}


.profile .text{
   
    flex-direction: column;
    margin-left: 10px;
    display: flex;
    
}

.text h2{

    font-size: 20px;
}

.left-sidebar img{
    
    top: 80px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.description{
    display: flex;
    padding: 10px;

}

.description:hover{


    opacity: 0.5;
}


.description a{
    text-align: center;
    font-size: 15px;
    color: #1876f2;


}
.list{
    margin-bottom: 0;
}

.list ul {
    display: flex; /* Use flexbox layout */
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}
.list ul li {
    width: 80px; /* Set width of list items */
    height: 50px; /* Set height of list items */
    display: flex; /* Use flexbox layout for centering */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-right: 10px; /* Add space between list items */
}

.list ul li:hover {
    cursor: pointer;}
















.right-sidebar{

    flex-basis: 35%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;

    

}

.right-sidebar h6{
    text-align: start;
    color: #626262;

}



.right-sidebar ul{
    list-style-type: none;
        padding: 0;
        margin: 0;
}

.right-sidebar ul li{
    margin-top: 10px;
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
}

.right-sidebar ul a{
    color: #1876f2;
}


.right-sidebar ul a:hover{
    color: #1876f2;
    opacity: 0.5;
}



.right-sidebar ul svg{
    margin: 10px;
    color: black;
}

#hr1{
    margin: -17px 0; /* Add margin top and bottom, and remove left and right margins */
    padding: 0; /* Remove padding */
    border: 0; /* Remove default border */
    border-top: 1px solid #000000; /* Add border on top */
}

.left-sidebar hr{
    margin: -17px 0; /* Add margin top and bottom, and remove left and right margins */

    border-top: 1px solid #000000; /* Add border on top */
}



.selected{
    background-color: #1876f2;
    color: black; /* Change to your desired background color */
  }





@media (max-width:991px){

    .right-sidebar{
        flex-basis: 20%;
        position: absolute;
        top: 20%;left: 50%;right: 0;
        position: relative;
    
    
    }





}

/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}