  <!--navigation bar-->
  <nav>
    <div class="nav-left">
      <a class="navbar-brand" href="index.html">
        <span>
            Shareit
        </span>
    </a>

      <ul>
        <li><img src="assets/images2/notification.png" alt=""></li>
        <li><img src="assets/images2/inbox.png" alt=""></li>
        <li><img src="assets/images2/video.png" alt=""></li>

      </ul>
    </div>
    <div class="nav-right">
      <div class="search-box">
        <img src="assets/images2/search.png" alt="">
        <input type="text" name="" id="" placeholder="Search">

      </div>
      <div class="nav-user-icon online" >
        <a href="profil"><img src="assets/images2/ena.jpg" alt=""></a>
      </div>
    </div>

  <!-- min menu setting-->


    <div class="settings-menu">
      <div class="settings-menu-inner">
          <div class="user-profile">
              <a href="profile"><img src="assets/images2/ena.jpg"></a>
              <div>
                  
                  <a href="profile"><p>User</p></a>
              </div>
          </div>
          <hr>
          <div class="user-profile">
            <img src="assets/images2/feedback.png" >
            <div>
                <p>Give Feedback</p>
                <a href="#">Help us to improve the new design</a>
            </div>
          </div>
          <hr>

          <div class="setting-links">
            <img src="assets/images2/setting.png" class="setting-icon">
            <a href="#">Setting & Privacy <img src="assets/images2/arrow.png" alt="" width="10px"></a>
          </div>

          <div class="setting-links">
            <img src="assets/images2/help.png" class="setting-icon">
            <a href="#">Help & Support <img src="assets/images2/arrow.png" alt="" width="10px"></a>
          </div>

          <div class="setting-links">
            <img src="assets/images2/display.png" class="setting-icon">
            <a href="#">display & Accessibility <img src="assets/images2/arrow.png" alt="" width="10px"></a>
          </div>

          <div class="setting-links">
            <img src="assets/images2/logout.png" class="setting-icon">
            <a href="#">Logout <img src="assets/images2/arrow.png" alt="" width="10px"></a>
          </div>

          </div>

      </div>
      
  </nav>



