
<div class="container">


    <!-------------------------------------------left side bar------------------------------------------------------->
    <div class="left-sidebar">
        <div class="img-links">
            <a href="#"><img src="assets/images2/news.png">Latest news</a>
            <a href="#"><img src="assets/images2/friends.png">Freinds</a>
            <a href="#"><img src="assets/images2/group.png">Group</a>
            <a href="#"><img src="assets/images2/notif.png">Notification</a>

            <a href="#">See More</a>
        </div>

        



    </div>

    <!-------------------------------------------main content------------------------------------------------------->

    <div class="main-content">
        <!-- HTML !-->



        <div class="write-post-container">
            <div class="user-profile">
                <img src="assets/images2/ena.jpg" >
            
                <div>
                    <p>User</p>
                    <small>Public <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                      </svg></small>

                </div>

            </div>
            <div class="post-input-container">
                <textarea rows="3" placeholder="what's on your min,youssef?"></textarea>
                <div class="add-post-links">
                    
  <!-- Button trigger modal -->
  <button class="button-59 btn"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" role="button">Add Case</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Case </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add></app-add>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
                    
                    <a href="#"><img src="assets/images2/photo.png"> Photo/Video</a>
                    <a href="#"><img src="assets/images2/feeling.png"> Feling/Activity</a>

                </div>
            </div>
            
        </div>



        <div class="post-container">
            <div class="user-profile">
              <img src="assets/images2/ena.jpg" >
              <div>
                  <p>User</p>
                  <span>date ex : June 24 2021,13:20 pm</span>
              </div>
            </div>
            <p class="post-text">sujet de cas ex : poor family<span></span> 
              <a href="#"></a><a href="#"></a> </p>
              
              <!-- Button trigger modal -->
<button type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img src="assets/images2/images.jpg" alt="" class="post-img">
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col"><h1 class="modal-title fs-5" id="staticBackdropLabel">More details        </h1></div>
          </div>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <button class="button-86" role="button">Remove</button>
          <app-consulter-detail></app-consulter-detail>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
           
              <div class="post-row">
                <div class="activity-icons">
                  <div><img src="assets/images2/like-blue.png" alt="">120</div>
                  <div><img src="assets/images2/comments.png" alt="">120</div>
                  <div><img src="assets/images2/share.png" alt="">20</div>

                </div>
                <div class="post-profile-icon">
                    <img src="assets/images2/ena.jpg" alt="">
                </div>
              </div>
        </div>


    </div>

    <!-------------------------------------------right side bar------------------------------------------------------->

    <div class="right-sidebar">
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All </a>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
    
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                  </svg>Willson Tech Park</p>
                <a href="#">More info</a>
            </div>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>22</h3>
                <span>March</span>
    
            </div>
            <div class="right-event">
                <h4>Mobile Maketing</h4>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                  </svg>Willson Tech Park</p>
                <a href="#">More info</a>
            </div>
        </div>
    
    </div>

    






</div>