
<div class="post-container">
    <div class="user-profile">
      <img src="assets/images2/ena.jpg" >
      <div>
          <p>User name</p>
          <span>June 24 2021,13:20 pm</span>
      </div>
    </div>subject ex poor family: The Smith family consists of John, Sarah, and their three children: Emily, Michael, and Olivia. They reside in a small, rented apartment in a low-income neighborhood. John works as a day laborer, earning minimum wage, while Sarah is a stay-at-home parent, caring for the children. Despite their best efforts, the family struggles to make ends meet due to the limited income and high cost of living in their area.

        Financial hardships have become a common aspect of the Smith family's daily life. They often face challenges in affording basic necessities such as food, clothing, and healthcare. The children attend public schools, but the family cannot afford extracurricular activities or educational resources beyond what is provided by the school.
        
        The Smiths rely on community resources such as food banks and local charities to supplement their groceries and access essential services. They prioritize their spending to cover rent and utilities, often sacrificing other expenses to keep a roof over their heads and maintain a semblance of stability for their children.
        
        Despite their financial struggles, the Smith family remains resilient and hopeful for a better future. They value education and work hard to provide their children with opportunities for a brighter tomorrow. However, the road out of poverty is challenging, and they often feel overwhelmed by the obstacles they face on a daily basis.
        
        Support from compassionate individuals and organizations can make a significant difference in the lives of families like the Smiths. By providing assistance with housing, employment opportunities, education, and access to basic necessities, we can help alleviate the burdens of poverty and empower families to build a more secure and prosperous future.
    
    <ul>
        <li>tel:51*****</li>
        <li>street:7novembre</li>
        <li>land mark:Mg</li>
        
    </ul>

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg_KLvPsEjYtRpXYcazCuu4ryVHG_Ik0lSNldJJZNpbA&s" alt="" class="text-center post-img">
   
      <div class="post-row">
        <div class="activity-icons">
          <div><img src="like-blue.png" alt="">120</div>
          <div><img src="comments.png" alt="">120</div>
          <div><img src="share.png" alt="">20</div>

        </div>
</div>
