

<!-- Outer container -->
<div class="container rounded mt-5">
    <div class="row "></div>
    <div class="row mt-5">
        <div class="col">
            <h1 class="h1 text-center"><i class="case bi bi-patch-plus-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
              </svg> ADD CASE </h1>
            <p class="p text-center">Help make a difference: Share the story to be helped and supported  by our   Shareit website community  today!"</p>
        </div>
    </div>
    
    <!-- Inner container -->
    <div class="inner-container rounded">
        <div class="row mt">
            <div class="col ">
                
                <h2 class="h2 text-start"><i class="photo bi bi-camera-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
                  </svg> Take photos !</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md ">
                <div class="container pho rounded">
                    <div class="row">
                        <div class="col text-center">
                            <input type="file" name="photo1" id="p1" accept="image/*" required>
                            <label for="p1"><i class="bi pp bi-camera2"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
                                <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4"/>
                                <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.97 5.97 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1M2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0M14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0"/>
                              </svg><br>select a photo</label>
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="row mt-5 "> 
                        <div class="col text-center">
                            photo 1
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md ">
                <div class="container pho rounded">
                    <div class="row">
                        <div class="col text-center">
                            <input type="file" name="photo1" id="p1" accept="image/*">
                            <label for="p1"><i class="bi pp bi-camera2"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
                                <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4"/>
                                <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.97 5.97 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1M2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0M14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0"/>
                              </svg><br>select a photo</label>
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="row mt-5 "> 
                        <div class="col text-center">
                            photo 2
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md ">
                <div class="container pho rounded">
                    <div class="row text-center">
                        <div class="col text-center">
                            <input type="file" name="photo1" id="p1" accept="image/*">
                            <label for="p1"><i class="bi pp bi-camera2"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
                                <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4"/>
                                <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.97 5.97 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1M2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0M14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0"/>
                              </svg><br>select a photo</label>
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="row mt-5 text-center "> 
                        <div class="col text-center">
                            photo 3
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Inner container -->
    <div class="inner-container rounded ">
        <div class="row ">
            <div class="col">
                <h2 class="h2 text-start"><i class="bi bi-pen-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                  </svg>Describe your case! </h2>
                  <br><p>Provide additional details about your case to ensure tailored assistance. Your thorough input helps us offer the most effective support possible.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Case in need:</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="text" class="form-control" placeholder="ex:sick person,poor family" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Description </p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <textarea class="form-control" placeholder="give us more details to Describe the case..." rows="5" cols="15"></textarea>
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
    </div>
    <div class="inner-container rounded ">
        <div class="row ">
            <div class="col">
                <h2 class="h2 text-start"><i class="bi bi-person-vcard-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                  </svg> Your contact information ! </h2>
                <br><p>Our platform offers a secure way to input personal information for assistance. Easily share details like medical history and emergency contacts, allowing others to provide support promptly. Stay safe and connected with Personal Info Aid.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Phone number :</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex: 51******" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Street Address :</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex: 123 Main Street,7 novemeber ..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">City or Town :</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex: Korba,Hammem Linf..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para"> State or Province:</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex: Nabeul,Ben Arous..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Postal Code or ZIP Code:</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex: 8070,8040..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Country:</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex:tunisia,france..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <p class="para">Landmark or Point of Reference :</p>
            </div>
            <div class="col-md-6 ">
                <div class="input-group flex-nowrap ">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="tel" class="form-control" placeholder="ex:mg market,famous shop..." aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </div>
            <div class="col-md "></div>
        </div>
    </div>
    <div  class="row mt-5">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="button-64" role="button"><span class="text">Add</span></button>
          </div>
    </div>
</div>